<div class="modal fade" id="clishaModelMulti" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog mt-5 modal-sm" role="document">
        <div class="modal-content clisha_content mt-5"> 
            <div class="modal-body">
                <div class="text-center mt-4">
                    <img src="chrome-extension://hchmeojdknmlfngphlmnjncmcfaglhdn//images/Group 1948 (1).png" alt="clishalogo" border="0">
                    <div class="boost mt-4 font-weight-bold"></div>

                    <button type="button" class="btn btn-primary px-5 shadow border-0">Access Data</button>
                
                    <div class="py-3">  <a href="">Confirm</a> </div>
                    <p class="text-center">
                        <small class="text-summary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem distinctio autem quasi doloribus ex voluptatem.
                        </small>
                    </p>
                </div>

            </div> 
        </div>
    </div>
</div>
<a href="#" class="clisha_answer" id="clisha-answer">
    <i class="fa fa-plus floater"></i>
</a>