
 <div class="modal fade" id="clishaModelMulti" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content mt-5"> 
            <div class="modal-body">
                <div class="text-center mt-4">
                    <img src="https://i.ibb.co/0tdRgqZ/clishalogo.png" alt="clishalogo" border="0">

                    <div class="boost mt-4 font-weight-bold">
                        <p>Your Next Digital Marketing Solutions</p>
                    </div>
                    
                    <button type="button" class="btn btn-primary px-5 shadow border-0">Access Data</button>
               
                    <div class="py-3">
                        <a href="">Login to Account</a>
                    </div>
                    <p class="text-center">
                        <small class="text-muted">
                            Nam id mi sollicitudin magna dictum pellentesque non ac purus. Etiam leo nibh, finibus eget porttitor sit amet, consequat ac lacus. Quisque ornare, arcu quis lacinia hendrerit, quam metus hendrerit mauris, sit amet luctus turpis sem nec diam
                        </small>
                    </p>
                </div>
            </div> 
        </div>
    </div>
</div>

<a href="#" class="clisha_answer" id="clisha-answer">
    <i class="fa fa-plus floater"></i>
</a>