<div class="clisha_modal_container" id="clishaModelNextStep" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="clisha_modal-dialog" role="document">
        <div class="clisha_modal_content clisha_content"> 
            <!-- <div class="clisha_modal_header">
                <button class="closeIcon close_modal_btn" id="close_modal_btn"><span></span> </button>
            </div> -->
            <div class="clisha_modal_body">
                <div class="my-4">
                    <div class="text-center">
                        <img src="https://clisha-testing-user.netlify.app/images/popup/Group%201948%20(1).png" alt="clishalogo" border="0">
                        <div>
                            <img src="https://i.ibb.co/MNhqr6Y/clisha-boost.png" alt="clishalogo" border="0">
                            <div class="mt-2"> 
                                <h4 class="clisha-color-white bold">Done!</h4>
                                <h5>You have completed this step. Note: You can still interact with the page.  </h5>
                                <h5 id="next-step-info"></h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button type="button" id="clisha_close-primary" type="button" class="clisha_btn-primary"> OK</button>
                    </div>

                    <p class="text-center text-summary" id="boost-error">Don't want to attempt this question? Deactivate <a href="#" id="task-deactivate">task here</a>.</p>

                </div>
            </div> 
        </div>
    </div>
</div>

<a href="#" class="clisha_float float_helper" id="clisha-next-step">
    <span class="floater"> 
        <!-- <img src="https://clisha-stagging.netlify.app/images/Task/pointer.png" style="    width: 20px; margin-top: 15px;" class=" " alt=""> -->
    </span>
</a>