   <!-- Modal1-->
   <div class="modal fade" id="clishaModelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content mt-5"> 
            <div class="modal-body">
                <div class="text-center mt-4">
                    <img src="https://i.ibb.co/0tdRgqZ/clishalogo.png" alt="clishalogo" border="0">

                    <div id="boost-entry" class="my-5"></div>
                    <button type="button"  data-dismiss="modal" class="btn btn-primary px-5 shadow border-0">OK</button>
                    <div class="boost mt-4 font-weight-bold">
                        <p id="boost-error" style="display: none">Dont want to receive further error messages? Deactivate <a href="#" id="task-deactivate">task here</a>.</p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
</div>