<div class="clisha_modal_content fade" id="clishaModelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="clisha_modal_content-dialog mt-5" role="document">
        <div class="clisha_modal_content-content clisha_content mt-5"> 
            <div class="clisha_modal_content-body">
                <div class="text-center mt-4">
                    <img src="https://clisha-stagging.netlify.app/images/popup/Group%201948%20(1).png" alt="clishalogo" border="0">
                    <div >
                        <img src="https://i.ibb.co/MNhqr6Y/clisha-boost.png" alt="clishalogo" border="0">
                        <div id="boost-entry" class="mt-3 mb-5">  </div>
                    </div>
                    <!-- <button type="button" data-dismiss="modal"  class="btn cbtn-primary px-5 shadow border-0">OK</button> -->
                    <button type="button" class="clisha_btn-primary" >OK</button>
                </div>
            </div> 
        </div>
    </div>
</div>
 