<div class="clisha_modal_container" id="clishaModelId2" tabindex="-1" role="dialog" >
    <div class="clisha_modal-dialog">
        <div class="clisha_modal_content clisha_content "> 
            <div class="clisha_modal_body">
                <div class="text-center">
                    <img src="https://clisha-client-user.netlify.app/images/popup/Group%201948%20(1).png" alt="clishalogo" border="0">
                    <div >
                        <img src="https://i.ibb.co/ZH45cyn/error.png" style="height: 150px;margin-top: 15px;" alt="clishalogo" border="0">
                        <div id="boost-entry" class="mt-3 mb-5 " style="color: white">  </div>
                        <button type="button" class="clisha_btn-primary" id="clisha_close-primary">OK</button>
                        <div class="boost mt-4 bold">
                            <p id="boost-error" class="" style="display: none">Don't want to receive further error messages? Deactivate <a href="#" id="task-deactivate">task here</a>.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

